{% extends 'base.html.twig' %}

{% block body %}
<form method="post">
    <form method="post">

        <div class="row">
            <div class="col-lg-12 offset-1">
                <label>Название</label>
                <input type="text" name="name" value="{{ book.name }}">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 offset-1">
                <label>Год</label>
                <input type="text" name="year" value="{{ book.year }}">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 offset-1">
                <label>Автор</label>
                <input type="text" name="author" value="{{ book.author }}">
            </div>
        </div>

        <button type="submit">Добавить</button>
    </form>
    <button type="submit">Изменить</button>
</form>
{% endblock %}