<form method="post">
    <input type="text" name="name" value="{{ book.name }}">
    <input type="text" name="year" value="{{ book.year }}">
    <input type="text" name="author" value="{{ book.author }}">
    <button type="submit">Изменить</button>
</form>